.services{
    width: 100%;
    background-color: #343045;
    margin-top: 100px;
    position: relative;
    overflow: visible;
    z-index: 88;
}
.vector{
    width: 100%;
    top: 200px;
    position: absolute;
    z-index: -1;
}
/* Service */
.servicesBlock{
    margin-top: 74px;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}
.prev,.next{
    display: none;
}
.service{
    position: relative;
    width: 320px;
    border-radius: 40px;
    background: radial-gradient(50% 50% at 50% 50%, #433D60 0%, #211E2E 100%);
    padding: 38px 33px 40px 33px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:#fff;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 24%;
}
.serviceImg{
    margin-bottom: 21px;
}
.serviceImg img{
    border-radius: 50%;
    border:10px solid rgba(14, 14, 14, 0.32);
}
.serviceTitle h2{
    padding-bottom: 18px;
    border-bottom: 1px solid rgba(192, 183, 232, 0.33);
}
.serviceContent p{
    font-weight: 100;
    margin-top: 22px;
    margin-bottom: 35px;
    line-height: 25px;
    font-size: 12px;
}

@media screen and (max-width: 1499px){

    .service{
        flex-basis: 48%;
    }
    .service:nth-child(3),.service:nth-child(4){
        margin-top: 50px;
    }
    .service p{
        text-align: center;
    }
}
@media screen  and (max-width: 920px){
    .service:nth-child(3),.service:nth-child(4){
        margin-top: 0;
    }
    .service{
        display: none;
    }
    .active{
        display: flex;
        flex-basis: 85%;
        margin: 0 auto;
    }
    .next,.prev{
        position: absolute;
        top: 42%;
        width: 62px;
        height: 62px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        border-radius: 50%;
        background: rgba(14, 14, 14, 0.32);
        cursor: pointer;
    }
    .nextBtn,.prevBtn{
        background: linear-gradient(267.61deg, #C0B7E8 -0.6%, #8176AF 98.31%);;
        border: none;
        color: #fff;
        border-radius: 50%;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .prev{
        left: -31px;
    }
    .next{
        right: -31px;
    }
.servicesBlock{
    margin-top: 0;
}
}