header{
    width: 100%;
}
.headerContent{
    margin-top: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headerContent h1{
    font-size: 60px;
    color:#fff;
}
.headerContent h1 span{
    background: -webkit-linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.headerContent p{
    margin-top: 36px;
    color:#fff;
    width: 450px;
    font-size: 16px;
}
.headerContent .buttonBlock{
    margin-top: 66px;
    display: flex;
    cursor: pointer;
    align-items: center;
}
.headerContent .btn{
    font-weight: 700;
    font-size: 12px;
    padding: 17px 38px;
    border:none;
    border-radius: 40px;
    cursor: pointer;
    background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
    margin-right: 40.2px;
}
.headerImg{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 524px;
    height: 455px;
    background: rgba(0, 0, 0, 0.13);
    border-radius: 100px 100px 100px 240px;
}
.headerImg img {
    max-width: 100%;
    z-index: 777;
}
.vectors{
    position: absolute;
    width: 735px;
    height: 845px;
    top: 0;
    right: 0;
}

.contact{
    display: flex;
    margin-top: 88px;
    justify-content: space-around;
    color: white;
    padding: 45px 53px;
    background: radial-gradient(50% 2900.76% at 50% 53.89%, rgba(58, 52, 86, 0.95) 0%, #211E2E 100%);
    border-radius: 90px;
}

.contact .contactItem{
    display: flex;
}
.contactItem:nth-child(1),.contactItem:nth-child(2){
    padding-right: 100px;
    border-right: 2px solid rgba(192, 183, 232, 0.33);
}

.contactItem h2{
    font-size: 24px;
    padding-bottom: 5px;
}
.contactIcon{
    margin-right: 14.5px;
}