.howTo{
    width: 100%;
    background-color: #343045;
    margin-top: 123px;
}

.howToItems{
    position: relative;
    margin-top: 119px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background-image: url("../../assets/images/vector4.png");
    background-repeat: no-repeat;
    background-position: 100px 30px;
}
.itemBlock{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 24%;
}
.wrapper{
    width: 198px;
    height: 198px;
    border-radius: 50%;
    background: rgba(13, 13, 13, 0.32);
    display: flex;
    justify-content: center;
    align-items: center;
}
.background{
    width: 159px;
    height: 159px;
    border-radius: 50%;
    background: linear-gradient(251.27deg, #C0B7E8 12.87%, #8176AF 89.33%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 64px;
    color:#343045;
    font-weight: 900;
}
.itemTitleBlock{
    margin-top: 25px;
    display: flex;
    align-items: flex-start;
    color: white;
    font-size: 24px;
    margin-bottom: 112px;
}
.itemTitleBlock img{
    margin-right: 15px;
}
.prev,.next{
    display: none;
}

@media screen and (max-width: 1499px){

    .itemBlock{
        flex-basis: 48%;
    }
    .service:nth-child(3),.service:nth-child(4){
        margin-top: 50px;
    }
    .service p{
        text-align: center;
    }
    .howToItems{
        background: none;
    }
}

@media screen and (max-width: 800px){
    .itemTitleBlock img{
        display: none;
    }
    .itemBlock{
        margin: 0 auto;
        flex-basis: 85%;
        display: none;
    }
    .itemBlock h3{
        font-size: 24px;
    }
    .active{
        display: flex;
    }
    .prev,.next{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        border-radius: 50%;
        background: rgba(14, 14, 14, 0.32);
        cursor: pointer;
    }
    .prev{
        left: 0;
        bottom: 125px;
    }
    .next{
        right: 0;
        bottom: 125px;
    }
}